.movie-detail-container {
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  
  .movie-detail-poster {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .movie-gallery {
    margin-top: 20px;
  }
  
  .gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 100%;
  }
  
  .gallery-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
  }
  
  .gallery-button {
    background: none;
    border: none;
    font-size: 24px;
    color: #000d9b;
    cursor: pointer;
  }
  
  /* Review Section */
  .review-section {
    margin-top: 30px;
    text-align: left;
  }
  
  .review-textarea {
    width: 95%;
    height: 100px;
    padding: 10px;

    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .rating-dropdown {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit-review-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
  }
  
  .submit-review-button:hover {
    background-color: #218838;
  }
  