.signup-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-container h2 {
    margin-bottom: 15px;
  }
  
  .signup-container input {
    width: 100%;
    padding: 8px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-container  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-container button:hover {
    background-color: #0056b3;
  }
  
  .signup-container .error-message {
    color: red;
    font-size: 14px;
  }
  
  .signup-container .login-link {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signup-container .login-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-container .login-link a:hover {
    text-decoration: underline;
  }
  
  
  #header-toggle:checked ~ .signup-container {
    background-color: #000000; /* Dark Mode Background */
    color: #ffffff; /* Dark Mode Text Color */
  }

  #header-toggle:checked ~ .signup-container input{
    background-color: #383838; /* Dark Mode Background */
    color: #fff; /* Dark Mode Text Color */
  }
